/* 
monochromatic red
 */
 
body{
    margin: 0;
}
header{
    background-color: #560b02;
    width: 100%;
    display: flex;
    align-items: center;


}
nav{
    background-color: #f84b4b;
    border-radius: 10px;
    padding: 12px;
    margin: 2px;
    width: 150px;


}
hr{
    border-color: #560b02;
}

div{
    display: flex;
    flex-wrap: wrap;
}

section{
    background-color: #f84b4b;
    border-radius: 10px;
    padding: 12px;
    margin: 2px;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer > section{
    border-radius: 0;
}
 @media screen and (max-width: 767px){
    body{
        background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%235a0000' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%236d0000' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23810000' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23970000' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23AD0000' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
        margin: 4px;
    }

    .first{
        width: 90px;
    }
    .second{
        width: 190px;
    }
    .third{
        width: 90px;
    }
    .footerimages{
        display: flex;
        justify-content: center;
    }
    .rightside{
        display: flex;
        align-items: space-between;
        flex-wrap: wrap;
        justify-content: center;
        width: 150px;

    }
    .leftside{
        display: flex;
        align-items: space-around;
        flex-wrap: wrap;
        justify-content: center;
        width: 150px;
    }
    .container{
        display: flex;
        justify-content: space-around;
    }

}
@media screen and (min-width:768px){
    body{
        background-color: #000000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%235a0000' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%236d0000' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23810000' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23970000' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23AD0000' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }
    .first{
        width: 90px;
    }
    .second{
        width: 190px;
    }
    .third{
        width: 90px;
    }
    .footerimages{
        display: flex;
        justify-content: center;
    }
    .rightside{
        display: flex;
        align-items: space-between;
        flex-wrap: wrap;
        justify-content: center;
        width: 150px;

    }
    .leftside{
        display: flex;
        align-items: space-around;
        flex-wrap: wrap;
        justify-content: center;
        width: 130px;
    }
    
    .container{
        display: flex;
        justify-content: space-around;
    }
}
.paragraph{
    max-width: 80%;

}